<!DOCTYPE html>
<html>
  <head>
    <title>Iobio Vue Skeleton</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <!-- <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script> -->
  <!-- <script type="text/javascript" src="http://unpkg.com/uiv/dist/uiv.min.js"></script> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css" /> -->

<!-- <script src="https://unpkg.com/vuetable-2@1.6.0"></script> -->

  </head>
  <body>
    <div id="app"></div>
    <script src="dist/build.js"></script>
  </body>
</html>
