$app-nav-color:       #4267b2
$app-color:           $app-nav-color

$app-utilities-color: $app-color
$app-red-button:      $app-utilities-color
$app-color-primary:   $app-utilities-color
$app-color-secondary: #576e97
$search-button-color: $app-utilities-color
$activeTab-background-color: #E3F2FD
$activeCard-border:   $app-utilities-color
$svgBar-fill:         #ffffff
$rect-bar:            #4e7ad3
$trailing-rect-bar:   #e8ebed
$rect-bar-text-color: $app-nav-color 

$app-color-clin:       rgb(69, 104, 142)
$nav-color-clin:       white
$nav-title-color-clin: $app-color-clin
$app-background-clin:  #f5f5f5
$active-card-color-clin: #a0c3eb
$orange-chip-color-clin: #edac34


$app-gray:            #455A64
$accent-text-color:   rgba(0,0,0,.54)

$amber-lighten-5:  #FFF8E1
$amber-lighten-4:  #FFECB3
$amber-lighten-3:  #FFE082
$amber-lighten-2:  #FFD54F
$amber-lighten-1:  #FFCA28
$amber-darken-1:   #FFB300


$app-accent-color:    $amber-darken-1


$text-color:           #222
$text-color-clin:      rgb(113,113,113)

$link-color:           $app-color-primary

$info-color:            $amber-lighten-4
$info-color-dark:       $amber-lighten-3

$default-cb-accent:     rgb(162,162,162)


$iobio-font:           'Quicksand'
$app-font:             'Open Sans', sans-serif
$app-font-clin:        'Poppins', sans-serif
$iobio-font-clin:      $app-font-clin

//For vuetify colors change the primar from the vuetify- theme object in routes.js
