body {
  font-family: "Quattrocento Sans", sans-serif, sans-serif !important;
  margin-top: 0px;
}

#container {
  margin-top: 5px;
  margin-left:10px;
  margin-right:10px
}

.hide {
  display: none;
}

.card-body h5 {
  display: inline-block;
}

.card-body .counter {
  margin-left: 12px;
  font-size: 13px;
  padding: 2px 6px;
  vertical-align: top;
  display: inline-block;
}

.main-section {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.left-section {
  margin-right: 0px;
  width:100%;
  display:block;

}
.right-section {
  min-width: 320px;
}

.navbar.navbar-dark {
  color: #e7e5e5;
  background-color: #174065;
  padding: 4px 10px 1px 10px;
}
.navbar.navbar-dark input {
  color: #e7e5e5;
}
#nav-input-search-box {
  display:inline-block;
  width:70%
}
#input-search-term {
  width: 200px;
  margin-left: 20px;
  float: left;
  padding-left: 5px;
}

#loading-search {
  height: 35px;
  vertical-align: middle;
  padding-left: 10px;
}


#diseases-box {
  flex:0 1 180px;
}
#gene-panels-box {
  flex:0 1 280px;
}
#genes-box {
  flex:1 1 550px;
}

#gene-panel-filter-box {
  display:inline-block;
  margin-left:10px;
  vertical-align:top;
}
#select-vendor-box {
  margin-top:0px;
  font-size:12px;
  min-width:200px;
  width:auto;
  display:inline-block;
  margin-left:20px;
}
#select-vendor-box input::placeholder {
  font-size: 12px !important;
}



#gene-histogram-box {
  flex: 0 0 400px;
  height: 150px;
  margin-right:10px
}
#gene-bar-chart-box {
  flex: 0 0 400px;
}

#gene-histogram {
  min-width: 500px;
  max-width: 500px;
}
#gene-bar-chart {
  min-width: 300px;
  max-width: 300px;
}
#gene-table-box {
  flex: 1 1 auto;
}

#copy-genes-to-clipboard {
  float: right;
}



/*                      */
/*  Any svg chart       */
/*                      */
.y.axis line {
  fill: none;
  stroke: #e0e0e0;
  shape-rendering: crispEdges;
}

.x.axis line {
  fill: none;
  stroke: #e0e0e0;
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
  stroke: #848383;
  shape-rendering: crispEdges;
}

.axis .label {
  font-size: 12px;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.resize {
  display: inline !important; /* show when empty */
  fill: #7A7A7A;
  fill-opacity: 1;
  stroke: #7A7A7A;
  stroke-width: 2px;
}




/*                      */
/* Histogram Chart      */
/*                      */
#gene-histogram-chart .bar rect {
    fill:   #7dc2e5;
    stroke: #1f5d7a;
    stroke-width: .5;
}

#gene-histogram-chart .bar.selected rect {
    fill: #2d8fc1;
}

#gene-histogram-chart .bar text {
    font-size: 10px;
}

#gene-histogram-chart .x.axis {
  font-size: 10px;
}
#gene-histogram-chart .y.axis {
  font-size: 10px !important;
}
#gene-histogram-chart .axis .label {
  font-size: 12px !important;
}


div.tooltip {
  position: absolute;
  text-align: center;
  z-index:20;
  color:white;
  padding: 4px 6px 4px 6px;
  font: 11px arial;
  background: rgb(80,80,80);
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

/*                           */
/* Gene horizontal barchart  */
/*                           */
#gene-bar-chart #title {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: 300;
}



/*                           */
/* Material design bootstrap */
/*                           */
.card-body .btn-sm {
  font-size: 12px !important;
  padding: 3px 10px 2px 10px !important;
}

.btn-primary {
  background-color:  #498ec4 !important;
  border-color:  #498ec4 !important;
}


.card {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 5px;
  font-size: .775rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 6px 10px;
}


.card-body h2 {
  margin-top: 0px;
}





/*             */
/* Data Tables */
/*             */
.dt-buttons {
  margin-left: -10px;
  margin-right: 20px;
}

.dataTables_filter input {
  width: 130px;
}

button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled) {
  border: initial;
  background-color: initial;
  /* Fallback */
  background-image: initial;
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: initial;
  /* FF3.6 */
  background-image: initial;
  /* IE10 */
  background-image: initial;
  /* Opera 11.10+ */
  background-image: initial;
}
button.dt-button:active:.disabled,
div.dt-button:hover:.disabled,
a.dt-button:hover:.disabled {
  border: initial;
  background-color: initial;
  /* Fallback */
  background-image: none;
}
button.dt-button.disabled, div.dt-button.disabled, a.dt-button.disabled {
  background-image: none;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 4px;
}

.dataTables_wrapper .dataTables_length {
    float: right;
    text-alight: right;
}
.dataTables_wrapper .dataTables_filter {
    text-align: left;
}

.dataTables_wrapper .dataTables_filter label {
  margin-bottom: 0px;
  font-size: 14px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #a1a0a0;
}

.btn-group .bmd-form-group {
  padding-top: 8px;
}

.data-table-controls {
  margin-top: -30px;
  margin-left: 300px;
}
#gene-panels-box .data-table-controls {
    float: right;
    margin-right: 10px;
}
#diseases-box .data-table-controls {
  margin-top: -30px;
  margin-left: 400px;
}
#genes-box .data-table-controls {
  margin-left: 0px;

}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #a1a0a0;
    padding: 6px 18px 2px 18px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 6px;
}

button.dt-button, div.dt-button, a.dt-button {
    font-size: 12px !important;
    padding: 4px 10px !important;
    position: relative;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
    box-sizing: initial;
    margin-bottom: initial;
    padding: initial;
    border: initial;
    border-radius: initial;
    cursor: initial;
    font-size: initial;
    line-height: initial;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: initial;
    background-image: initial;
    background-image: initial;
    background-image: initial;
    background-image: initial;
    background-image: initial;
    filter: initial;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
}


/*                     */
/* Selectize dropdown  */
/*                     */
.selectize-dropdown {
  font-size: 12px;
  line-height: 15px;
  color: $text-color;
}

.selectize-input {
  font-size: 12px;
  line-height: 13px;
  padding: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 !important;
  border: none !important;
  min-height: 18px;
}

.selectize-control.multi .selectize-input:after {
    content: '\e252';
    font-family: "Glyphicons Halflings";
    line-height: 2;
    display: block;
    position: absolute;
    top: 20%;
    right: 4px;
    background-color: white;
    font-size: 9px;
    cursor: pointer;
}


.selectize-control.multi .selectize-input.dropdown-active:after {
    content: '\e253';
    font-family: "Glyphicons Halflings";
    background-color: white;
}
