html {
  -webkit-font-smoothing: auto;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.application, body {
  font-family: 'Open Sans', sans-serif;
}

.application.theme--light {
  background: #fafafa;
  color:  rgb(113,113,113);
  fill:  rgb(113,113,113);
}

.theme--light .card,
.application .theme--light.card,
.application .theme--light.list,
.theme--light .list
 {
  color:  rgb(113,113,113);
  fill:  rgb(113,113,113);
}

.theme--light .input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active), .application .theme--light.input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color:  rgb(113,113,113);
  fill:  rgb(113,113,113);
}

.btn {
  padding: 0px;
  height: 28px;
}



.list__tile {
    font-size: 14px;
    height: 25px;
}

table.table tbody td, table.table tbody th {
  height: 28px !important;
  line-height: 1.2 !important;
  vertical-align: middle;
  padding-top: 0px !important;
}

table.table tbody td .input-group.input-group--selection-controls {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
