html {
  -webkit-font-smoothing: auto;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.application.theme--light {
  background: #fafafa;
  color:  #222;
  fill:  #222;
}

.theme--light .card,
.application .theme--light.card,
.application .theme--light.list,
.theme--light .list {
  color:  #222;
  fill:  #222;
}

.theme--light .input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active), .application .theme--light.input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color:  #222;
  fill:  #222;
}

.btn {
  padding: 0px;
  height: 28px;
}



.list__tile {
    font-size: 14px;
    height: 25px;
}

.dropdown.open .dropdown-menu {
  max-height: 400px !important;
  overflow-y: scroll !important
}

table.table tbody td, table.table tbody th {
  height: 28px !important;
  line-height: 1.2 !important;
  vertical-align: middle;
  padding-top: 0px !important;
}

table.v-table tbody td, table.v-table tbody th {
  height: 28px !important;
}

table.table tbody td .input-group.input-group--selection-controls {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

/* checkbox labels */
.v-input--selection-controls.v-input .v-label{
  align-items: center;
  display: inline-flex;
  top: 0;
  height: auto;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0,0,0,.87) !important;
}

/* search gene label  */
.application .theme--light.v-label, .theme--light .v-label {
  color: rgba(58, 57, 57, 0.87) !important;
  font-weight: 300 !important;
}

/* Table column headers */
.v-datatable thead th.column.sortable{
  cursor: default;
  color: black !important;
  font-weight: 500
}

.v-datatable thead th.column.sortable: hover{
  cursor: default;
  color: black !important;
}
