html {
  -webkit-font-smoothing: auto;
}

.application.theme--light {
  background: #fafafa;
  color:  #222;
}

.theme--light .card,
.application .theme--light.card,
.application .theme--light.list,
.theme--light .list {
  color:  #222;
}

.theme--light .input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active), .application .theme--light.input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color:  #222;
}

.btn {
  padding: 0;
  height: 28px;
}

.list__tile {
    font-size: 14px;
    height: 25px;
}


table.table tbody td, table.table tbody th {
  height: 28px !important;
  line-height: 1.2 !important;
  vertical-align: middle;
  padding-top: 0px !important;
}

table.v-table tbody td, table.v-table tbody th {
  height: 28px !important;
}

.v-datatable thead th.column.sortable{
  cursor: default;
  color: black !important;
  font-weight: 500;
}

.v-input--selection-controls.v-input .v-label{
  align-items: center;
  display: inline-flex;
  top: 0;
  height: auto;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0,0,0,.87) !important;
}

.application .theme--light.v-label, .theme--light .v-label {
  color: rgba(58, 57, 57, 0.87) !important;
  color: #3A3939;
  font-weight: 300 !important;
}

#conditionChips .v-chip .v-chip__content{
  /* cursor: help !important */
}
